<ion-content>
  <app-home-header></app-home-header>
  <div class="margin-span-10"></div>
  <app-section-title title="Featured Listing"></app-section-title>
  <div class="margin-span-10"></div>
  <app-service-cards-slider pager="false" [services]="featuredServices"></app-service-cards-slider>
  <div class="margin-span-10"></div>
  <app-section-title title="Top Sub-Categories"></app-section-title>
  <div class="margin-span-20"></div>
  <app-categories-box [items]="categories"></app-categories-box><br>
</ion-content>
