<ion-content>
  <div class="custom-box">
    <div class="custom-slides">
      <div class="custom-container" style="height: 100%;">
        <div class="custom-wrapper" style="height: 100%;">
          <img src="./assets/img/logo.png" style="width: 50vw; padding: 20px;">
          <div style="width: 100vw;">
            <div class="custom-form primary-padding" style="text-align: initial;">
              <h2 class="no-margin">{{'Welcome' | translate}}</h2>
              <p>{{'Please Sign Up to use Servindor services' | translate}}</p>
              <div class="row primary-margin-top">
                <div class="col no-padding">
                  <ion-button class="facebook-btn" (click)="doFacebookRegister()">
                    <ion-icon class="{{'social-icon-'+ rootComponent.direction}}" name="logo-facebook"></ion-icon>
                    {{'Facebook' | translate}}
                  </ion-button>
                </div>
                <div class="col no-padding">
                  <ion-button class="google-btn" (click)="doGoogleRegister()">
                    <ion-icon class="{{'social-icon-'+ rootComponent.direction}}" name="logo-google"></ion-icon>
                    {{'Google' | translate}}
                  </ion-button>
                </div>
              </div>
              <div class="row primary-margin-top">
                <div class="col">
                  <hr color="no-margin" color="grey">
                </div>
                <div class="col-auto" style="color: grey;">{{'OR' | translate}}</div>
                <div class="col">
                  <hr color="no-margin" color="grey">
                </div>
              </div>
              <form [formGroup]="registerForm">
                <ion-label *ngIf="isError" color="danger" floating> * {{'Username already exist' | translate}}
                </ion-label>
                <ion-item class="custom-ion-input primary-margin-top">
                  <ion-input placeholder="{{'First Name' | translate}}" formControlName="firstName" type="text">
                  </ion-input>
                </ion-item>
                <ion-item class="custom-ion-input primary-margin-top">
                  <ion-input placeholder="{{'Last Name' | translate}}" formControlName="lastName" type="text">
                  </ion-input>
                </ion-item>
                <ion-item class="custom-ion-input primary-margin-top">
                  <ion-input placeholder="{{'Username' | translate}}" formControlName="username" type="text">
                  </ion-input>
                </ion-item>
                <ion-item class="custom-ion-input primary-margin-top">
                  <ion-input placeholder="{{'E-mail' | translate}}" formControlName="mail" type="text">
                  </ion-input>
                </ion-item>
                <ion-item class="custom-ion-input  primary-margin-top">
                  <ion-input placeholder="{{'Password' | translate}}" formControlName="password"
                    [type]="passwordVisibilty? 'text': 'password'">
                  </ion-input>
                  <ion-icon *ngIf="passwordVisibilty" name="eye-outline" (click)="changePasswordVisibilty()">
                  </ion-icon>
                  <ion-icon *ngIf="!passwordVisibilty" name="eye-off-outline" (click)="changePasswordVisibilty()">
                  </ion-icon>
                </ion-item>
                <ion-item class="custom-ion-input  primary-margin-top">
                  <i class="flag-icon-squared custom-flag-icon" style="margin-right: 4px;"
                    [ngClass]="country && country.code? 'flag-icon flag-icon-' + country.code.toLowerCase(): ''"></i>
                  <ion-input placeholder="{{'Country' | translate}}" formControlName="country" type="text"
                    (ionFocus)="openModal()">
                  </ion-input>
                  <i class="fas fa-chevron-down"></i>
                </ion-item>
              </form>
              <div class="primary-margin-top">
                <ion-button type="submit" [disabled]="!registerForm.valid" (click)="doRegister()">
                  {{'Sign Up' | translate}}</ion-button>
              </div>
            </div>
          </div>
        </div>
        <div class="bg">
          <img src="./assets/img/undraw/bg.png" style="width: 100vw; height: 15vh;">
        </div>
      </div>
    </div>
  </div>

</ion-content>