<ion-content>
  <div class="custom-box">
    <div class="custom-slides">
      <div class="custom-container" style="height: 100%;">
        <div class="custom-wrapper" style="height: 100%;">
          <img src="./assets/img/logo.png" style="width: 50vw; padding: 20px;">
          <div class="primary-margin-top" style="width: 100vw;">
            <img src="./assets/img/undraw/login.png" style="max-width: 100%; max-height: 15vh;">
            <div class="custom-form primary-padding" style="text-align: initial;">
              <h2 class="no-margin">{{'Welcome' | translate}}</h2>
              <p>{{'Please Sign In to use Servindor services' | translate}}</p>
              <div class="row primary-margin-top">
                <div class="col no-padding">
                  <ion-button class="facebook-btn" (click)="doFacebookLogin()">
                    <ion-icon style=" margin-right: 10px;" name="logo-facebook"></ion-icon>
                    {{'Facebook' | translate}}
                  </ion-button>
                </div>
                <div class="col no-padding">
                  <ion-button class="google-btn" (click)="doGoogleLogin()">
                    <ion-icon style=" margin-right: 10px;" name="logo-google"></ion-icon>
                    {{'Google' | translate}}
                  </ion-button>
                </div>
              </div>
              <div class="row primary-margin-top">
                <div class="col">
                  <hr color="no-margin" color="grey">
                </div>
                <div class="col-auto" style="color: grey;">{{'OR' | translate}}</div>
                <div class="col">
                  <hr color="no-margin" color="grey">
                </div>
              </div>
              <form [formGroup]="loginForm">
                <ion-label *ngIf="isError" color="danger"> * {{'Username or Password is incorrect' | translate}} </ion-label>
                <ion-item class="custom-ion-input primary-margin-top">
                  <ion-input placeholder="{{'Username' | translate}}" formControlName="username" type="text">
                  </ion-input>
                </ion-item>
                <ion-item class="custom-ion-input  primary-margin-top">
                  <ion-input placeholder="{{'Password' | translate}}" formControlName="password"
                    [type]="passwordVisibilty? 'text': 'password'">
                  </ion-input>
                  <ion-icon *ngIf="passwordVisibilty" name="eye-outline" (click)="changePasswordVisibilty()">
                  </ion-icon>
                  <ion-icon *ngIf="!passwordVisibilty" name="eye-off-outline" (click)="changePasswordVisibilty()">
                  </ion-icon>
                </ion-item>
              </form>
              <div class="primary-margin-top">
                <ion-button type="submit" [disabled]="!loginForm.valid" (click)="doLogin()">{{'Login' | translate}}</ion-button>
              </div>
              <div style="padding-top: 10px; text-align: center;">
                <h5 class="no-margin" (click)="doForgotPassword()">{{'Forgot Password ?' | translate}}</h5>
              </div>
              <div class="primary-margin-top">
                <ion-button class="secondary-btn" (click)="doRegister()">{{'No Account ? Register Now' | translate}}</ion-button>
              </div>
            </div>
          </div>
        </div>
        <div class="bg">
          <img src="./assets/img/undraw/bg.png" style="width: 100vw; height: 30vh;">
        </div>
      </div>
    </div>
  </div>

</ion-content>