<ion-toolbar class="toolbar">

  <div class="row align-items-center">
    <div class="col-auto">
      <i class="fas fa-chevron-left" style="font-size: 1.7em; color: #2ccdfa;" (click)="closeModal()"></i>
    </div>
    <div class="col" style="padding-left: 0;">
      <ion-item class="custom-ion-input">
        <ion-input></ion-input>
        <ion-icon class="primary-color" name="search-outline"></ion-icon>
      </ion-item>
    </div>
  </div>

</ion-toolbar>

<ion-content class="primary-padding-left primary-padding-right">
<p *ngIf="!isLoaded" class="primary-color primary-padding-left" style="color: grey;">Loading...</p>
  <ion-list *ngIf="isLoaded">
    <ion-item class="country" *ngFor="let country of countries;"
      [ngClass]="selectedCountry == country.name? 'selected-country': ''" (click)='changeSelectedCountry(country.name)'>
      <i class="flag-icon-squared custom-flag-icon" [ngClass]="'flag-icon flag-icon-' + country.code.toLowerCase()"></i>
      <ion-label>{{country.name}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>