.toolbar {
    padding: 10px;
}

.country {
    --inner-padding-bottom: 6px;
    --inner-padding-top: 6px;
}

.selected-country {
    --background: #2ccdfa;
    color: white;
}

.custom-flag-icon {
    font-size: 2em;
    border-radius: 50%;
}

.search-input-ltr {
    padding-left: 0;
}

.search-input-rtl {
    padding-right: 0;
}

/* RTL Support */
.search-input-ltr {
    padding-left: 0;
}

.search-input-rtl {
    padding-right: 0;
}

.flag-icon-ltr {
    margin-right: 10px;
}

.flag-icon-rtl {
    margin-left: 10px;
}