.profile-photo {
    border-radius: 50% !important;
    overflow: hidden;
    width: 25px;
    display: inline-block;
    }
ion-grid {
    --ion-grid-padding: 0px; 
}

ion-col {
    --ion-grid-column-padding: 0px;
}

.service-photo{
    --padding-end: 0px;
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --inner-border-width: 0px;
    height: 150px;
}

ion-item {
    --inner-box-shadow: none;
    --min-height: 16px;
}

/* rtl support */
.profile-photo-ltr {
    margin-right: 8px;
}

.profile-photo-rtl {
    margin-left: 8px;
}

.side-margin-icon-ltr {
    margin-right: 5px;
}

.side-margin-icon-rtl {
    margin-left: 5px;
}

.verified-margin-icon-ltr {
    margin-left: 5px;
}

.verified-margin-icon-rtl {
    margin-right: 5px;
}