/* Tajawal */
@font-face {
    font-family: 'Tajawal';
    src: url('../assets/fonts/tajawal/Tajawal-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('../assets/fonts/tajawal/Tajawal-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('../assets/fonts/tajawal/Tajawal-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('../assets/fonts/tajawal/Tajawal-Medium.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('../assets/fonts/tajawal/Tajawal-Regular.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('../assets/fonts/tajawal/Tajawal-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('../assets/fonts/tajawal/Tajawal-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

/* SF Ui Display */
@font-face {
    font-family: 'SF Ui Display';
    src: url('../assets/fonts/sf-ui-display/sf-ui-display-black.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Ui Display';
    src: url('../assets/fonts/sf-ui-display/sf-ui-display-heavy.otf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SF Ui Display';
    src: url('../assets/fonts/sf-ui-display/sf-ui-display-bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Ui Display';
    src: url('../assets/fonts/sf-ui-display/sf-ui-display-light.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Ui Display';
    src: url('../assets/fonts/sf-ui-display/sf-ui-display-medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Ui Display';
    src: url('../assets/fonts/sf-ui-display/sf-ui-display-semibold.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Ui Display';
    src: url('../assets/fonts/sf-ui-display/sf-ui-display-thin.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Ui Display';
    src: url('../assets/fonts/sf-ui-display/sf-ui-display-ultralight.otf');
    font-weight: 200;
    font-style: normal;
}