<div class="home-header-container">
  <div class="row align-items-center location-notification">
    <div class="col-auto location">
      <ion-item class="custom-color transparent-bg" style="--padding-start: 0;" lines="none">
        <ion-icon name="location-outline" color="primary"></ion-icon>
        <ion-label style="padding-left: 5px; padding-right: 10px;">Ariana, Tunisia</ion-label>
        <i class="fas fa-sort-down"></i>
      </ion-item>
    </div>
    <div class="col"></div>
    <div class="col-auto notification">
      <i class="fas fa-bell"></i>
    </div>
  </div>
  <img class="logo" src="./assets/img/logo_white.png" style="width: 40vw;">
  <ion-item class="custom-ion-input primary-margin-top search-input">
    <ion-input [placeholder]="'Search for service' | translate" type="text">
    </ion-input>
    <ion-icon color="primary" name="search-outline"></ion-icon>
  </ion-item>
  <div class="row main-categories">
    <div class="col-3 cat-col beauty">
      <div class="cat cat-bottom-border cat-right-border ion-activatable">
        <i class="icon-beauty-treatment cat-icon" style="color: #EB4C9B;"></i>
        <br>
        <ion-label class="cat-label">Beauty</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
    <div class="col-3 cat-col health">
      <div class="cat cat-bottom-border cat-right-border ion-activatable">
        <i class="icon-health-insurance cat-icon" style="color: #29B473;"></i>
        <br>
        <ion-label class="cat-label">Health</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
    <div class="col-3 cat-col it">
      <div class="cat cat-bottom-border cat-right-border ion-activatable">
        <i class="icon-programmer cat-icon" style="color: #FFB440;"></i>
        <br>
        <ion-label class="cat-label">IT</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
    <div class="col-3 cat-col home-service">
      <div class="cat cat-bottom-border ion-activatable">
        <i class="icon-house cat-icon" style="color: #D7DB23;"></i>
        <br>
        <ion-label class="cat-label">Home Service</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
    <div class="col-3 cat-col business">
      <div class="cat cat-right-border ion-activatable">
        <i class="icon-international-business cat-icon" style="color: #21ABE4;"></i>
        <br>
        <ion-label class="cat-label">Business</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
    <div class="col-3 cat-col event">
      <div class="cat cat-right-border ion-activatable">
        <i class="icon-event cat-icon" style="color: #8BC439;"></i>
        <br>
        <ion-label class="cat-label">Event</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
    <div class="col-3 cat-col repairs">
      <div class="cat cat-right-border ion-activatable">
        <i class="icon-repair-tools cat-icon" style="color: #18B0A9;"></i>
        <br>
        <ion-label class="cat-label">Repairs</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
    <div class="col-3 cat-col see-all">
      <div class="cat ion-activatable">
        <i class="icon-cat-menu cat-icon" style="color: #9172B2;"></i>
        <br>
        <ion-label class="cat-label">See All</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
  </div>
</div>