<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>{{'Home' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon name="bookmarks-outline"></ion-icon>
      <ion-label>{{'Favorites' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="requests">
      <ion-icon name="file-tray-stacked-outline"></ion-icon>
      <ion-label>{{'Requests' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <ion-label>{{'Messages' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>{{'Account' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>