<ion-content>
  <div class="custom-box">
    <div class="custom-header">
      <div class="custom-container" style="height: 100%;">
        <div class="custom-wrapper" style="height: 100%;">
          <img src="./assets/img/logo.png" style="width: 50vw; padding: 20px;">
          <br><br>
          <div style="width: 100vw;">
            <img src="./assets/img/get-started/choose-language.png" style="max-width: 100%; max-height: 20vh;">
          </div>
        </div>
        <div class="bg">
          <img src="./assets/img/get-started/bg.png" style="width: 100vw; height: 40vh;">
        </div>
      </div>
    </div>
    <div class="custom-body">
      <div class="primary-padding-left primary-padding-right primary-padding-bottom">
        <div class="text">
          <h2 [translate]="'Welcome'"></h2>
          <p [translate]="'Chose_lang_msg'"></p>
        </div>
        <div class="row">
          <div class="col-6" style="padding: 0;" *ngFor="let language of languages">
            <ion-card (click)="onSelectLanguage(language.value)">
              <ion-card-content style="text-align: center;"
                [ngClass]="language.value == selectedLanguage? 'selected-language primary-bg-color': ''">
                <i class="flag-icon-squared custom-flag-icon" [ngClass]="'flag-icon flag-icon-' + language.icon"></i>
                <h2> {{language.label}} </h2>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
        <br>
        <ion-button expand="block" (click)="doConfirm()" [translate]="'Next'"></ion-button>
      </div>
    </div>
  </div>

</ion-content>