.custom-container {
    position: relative;
}

.custom-wrapper {
    background-color: transparent;
    position: absolute;
    text-align: center;
}

.bg {
    top: 0;
    left: 0;
}

.actions {
    padding: 20px;
}

.active-dot {
    color: #2ccdfa;
}

.inactive-dot {
    color: #E1E1E1;
}

.dot-margin {
    margin-left: 5px;
}

.dot {
    font-size: 0.7em;
}

.content {
    padding: 20px;
}

.text {
    margin-top: 70px;
}

.custom-box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.custom-box .custom-actions {
    flex: 0 1 auto;

    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

.custom-box .custom-slides {
    flex: 1 1 auto;
}