<ion-content>
  <div class="custom-box">
    <div class="custom-slides">
      <div class="custom-container" style="height: 100%;">
        <div class="custom-wrapper" style="height: 100%;">
          <img src="./assets/img/logo.png" style="width: 50vw; padding: 20px;">
          <div class="primary-margin-top" style="width: 100vw;">
            <img src="./assets/img/undraw/verify-phone-number.png" style="max-width: 100%; max-height: 15vh;">
            <div class="custom-form primary-padding" style="text-align: initial;">
              <h2 class="no-margin">{{'Verify Your Number' | translate}}</h2>
              <p>{{'Please enter your mobile number to receive a verification code' | translate}}</p>
              d: {{countryPhoneCode}}
              <div class="row primary-margin-top">
                <div class="col-4" style="padding-right: 0;">
                  <ion-item class="custom-ion-input primary-margin-top"
                    style="--inner-padding-end: 7px; --padding-start: 7px">
                    <i class="flag-icon-squared custom-flag-icon" style="margin-right: 4px;"
                      [ngClass]="country && country.code? 'flag-icon flag-icon-' + country.code.toLowerCase(): ''"></i>
                    <ion-input placeholder="{{'Prefix' | translate}}" [(ngModel)]="countryPhoneCode" type="text"
                      (ionFocus)="openModal()">
                    </ion-input>
                    <i class="fas fa-chevron-down"></i>
                  </ion-item>
                </div>
                <div class="col">
                  <ion-item class="custom-ion-input primary-margin-top">
                    <ion-input placeholder="{{'Phone Number' | translate}}" [(ngModel)]="phoneNumber" type="number">
                    </ion-input>
                  </ion-item>
                </div>
              </div>
              <div class="primary-margin-top">
                <ion-button type="submit" [disabled]="!countryPhoneCode || !phoneNumber" (click)="doSendCode()">{{'Send Code' | translate}}
                </ion-button>
              </div>
            </div>
          </div>
        </div>
        <div class="bg">
          <img src="./assets/img/undraw/bg.png" style="width: 100vw; height: 30vh;">
        </div>
      </div>
    </div>
  </div>

</ion-content>