<ion-card>
  <ion-item *ngFor="let item of items; let last = last" [class.last-item]="last" style="--inner-padding-top: 10px;
    --inner-padding-bottom: 10px;
    " button>
    <i class="custom-icon" [ngClass]="item.icon"></i>
    <!-- <img [src]="item.img" style="width: 10vw" /> -->
    <span style="padding: 10px">
      <div>
        {{ item.name }}
      </div>
      <div style="font-size: 0.8em;">
        {{ item.description }}
      </div>
    </span>
    <ion-icon [name]="direction == 'ltr'? 'chevron-forward-outline': 'chevron-back-outline'" slot="end"></ion-icon>
  </ion-item>
</ion-card>